@tailwind base;
@tailwind components;
@tailwind utilities;

.aura-effect {
    position: fixed; /* Fixed so it doesn't affect scrolling */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Behind all content */
    overflow: hidden; /* No scrolling or layout shift */
  }
